USE [master]
GO
/****** Object:  Database [D:\C#\PROJEKTI\CMSSHOPPINGCART-MASTER\CMSSHOPPINGCART\APP_DATA\CMSSHOPPINGCART.MDF]    Script Date: 31.01.2020. 19:35:46 ******/
CREATE DATABASE [D:\C#\PROJEKTI\CMSSHOPPINGCART-MASTER\CMSSHOPPINGCART\APP_DATA\CMSSHOPPINGCART.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CmsShoppingCart', FILENAME = N'D:\C#\projekti\CmsShoppingCart-master\CmsShoppingCart\App_Data\CmsShoppingCart.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CmsShoppingCart_log', FILENAME = N'D:\C#\projekti\CmsShoppingCart-master\CmsShoppingCart\App_Data\CmsShoppingCart_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [D:\C#\PROJEKTI\CMSSHOPPINGCART-MASTER\CMSSHOPPINGCART\APP_DATA\CMSSHOPPINGCART.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [D:\C#\PROJEKTI\CMSSHOPPINGCART-MASTER\CMSSHOPPINGCART\APP_DATA\CMSSHOPPINGCART.MDF]
GO
/****** Object:  Table [dbo].[tblCategories]    Script Date: 31.01.2020. 19:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Slug] [varchar](50) NULL,
	[Sorting] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPages]    Script Date: 31.01.2020. 19:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NULL,
	[Slug] [varchar](50) NULL,
	[Body] [varchar](max) NULL,
	[Sorting] [int] NULL,
	[HasSidebar] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProducts]    Script Date: 31.01.2020. 19:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Slug] [varchar](50) NULL,
	[Description] [varchar](max) NULL,
	[Price] [numeric](18, 2) NULL,
	[CategoryName] [varchar](50) NULL,
	[CategoryId] [int] NULL,
	[ImageName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSidebar]    Script Date: 31.01.2020. 19:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSidebar](
	[Id] [int] NOT NULL,
	[Body] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
